DATABASE_URL=postgresql://username:password@localhost:5432/database

APP_NAME=Hemo, This will be visible and used for reference

DEBUG=True, True shows detailed logs used in dev env

JWT_SECRET_KEY=your-secret-key generated using import secret lib in python

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30